datasets
einops
fastapi==0.123
fitz
PyMuPDF
jsonlines
langchain_text_splitters
loguru
mammoth
markdownify
numpy
openai
opencv_python
packaging
pandas
py2neo
python-multipart
PyYAML
tabulate
tokenizers
tqdm
transformers
uvicorn
